* {
  margin: 0;
  padding: 0;
}

body{
   background-color: rgb(0, 0, 0);
   text-align: center;
}

@media (max-width: 768px){
   #heading{
      color: white;
      font-size: 2.3rem;
      margin: 3vh auto;
      }

   #image{
      display: block;
      margin: 5vh auto;
      min-width: 60vw;
      max-width:75vw;
      border: 2px solid rgb(255, 255, 255);
   }


   .btn-container{
      display:flex;
      margin: 4vh auto;
      justify-content: center;
      gap: 2vw;

   }

   .btn{
      border-radius: 0.5rem;
      padding: 0.5rem;
      font-size: 1.5em;
   }

   #yesbtn{
      align-self: center;
      min-width: 3vw;   
      width: 6rem;
      height: 60px;
      max-width: 75vw;
      max-height: 60vw;
   }

   #nobtn{
      align-self: center;
      min-width: 3vw;   
      width: 6rem;
      height: 60px;
      min-height: 6vh;
      max-width: 25vw;
   }


   .btn:hover{
      background-color: rgb(228, 233, 178);
      border-radius: 0.5rem;
   }

   .new-btn{
      
      width: 60vw;
      height: 10vh;
      margin: 5vh auto;
      border-radius: 0.5rem;
      font-size: 1.7em;
      opacity: 0;
      transform: scale(0.8);
      transition: opacity 1.5s ease, transform 1.5s ease;
   }

   .new-btn.show{
      opacity: 1;
      transform: scale(1);
      width: 60vw;
      height: 10vh;
      margin-top: 5vh;
      border-radius: 5px;
      font-size: 1.7em;
   }

   .new-btn.show:hover{
      background-color: rgb(228, 233, 178);
      border-radius: 5px;
   }

   .container-video{
      display: flex;
      justify-content: center;
      background-color: aliceblue;
      width: 80vw;
      height: 30vh;
      margin: 25vh auto;
      padding: 2%;
      border-radius: 10px;

   
   .video-link{
      align-self: center;
      font-size: 2em;

   }

   .video-link:hover{
      color: rgb(128, 64, 202);
   }
   }
}

@media (min-width: 768px) {
   #heading{
      color: white;
      font-size: 2.3rem;
      margin: 3vh auto;
      }

   #image{
      margin-top: 3vh;
      width: 20vw;
      border: 2px solid rgb(255, 255, 255);
   }

   .btn-container{
      display:flex;
      margin: 4vh auto;
      justify-content: center;
      gap : 1.5vw;
   }

   .btn{
      border-radius: 5px;
      padding: 10px;
      font-size: 1.5em;
      align-self: center;
   }

   #yesbtn{
      flex-grow: 0 ;
      min-width: 3vw;   
      width: 15vw;
      height: 60px;
      max-width: 70vw;
      max-height: 450px;
   }

   #nobtn{
      min-width: 3vw;   
      width: 15vw;
      height: 60px;
      max-width: 70vw;
      max-height: 450px;
   }


   .btn:hover{
      background-color: rgb(228, 233, 178);
      border-radius: 5px;
   }

   .new-btn{
      
      width: 180px;
      height: 90px;
      margin-top: 50px;
      border-radius: 5px;
      font-size: 1.7em;
      opacity: 0;
      transform: scale(0.8);
      transition: opacity 1.5s ease, transform 1.5s ease;
   }

   .new-btn.show{
      opacity: 1;
      transform: scale(1);
      width: 180px;
      height: 90px;
      margin-top: 50px;
      border-radius: 5px;
      font-size: 1.7em;
   }

   .new-btn.show:hover{
      background-color: rgb(228, 233, 178);
      border-radius: 5px;
   }

   .container-video{
      display: flex;
      justify-content: center;
      background-color: aliceblue;
      width: 80vw;
      height: 30vh;
      margin: 25vh auto;
      padding: 2%;
      border-radius: 10px;

   }

   .video-link{
      align-self: center;
      font-size: 4em;

   }

   .video-link:hover{
      color: rgb(128, 64, 202);
   }
}